@{
    ViewBag.Title = "Home Page";
}

@*@ViewBag.Message*@
<h2>An application to assist in the management of rental properties.</h2>
<h2> </h2>
<h2> </h2>
<h2> </h2>
<p>
     Created by Michael Melly.
</p>
<p>
To begin click on either
    @Html.ActionLink("Tenancies","Index","Tenancy")
      or
    @Html.ActionLink("Tenants","Index","Tenant")
      or
    @Html.ActionLink("Properties","Index","Property").
</p>
