@{
    ViewBag.Title = "About Us";
}

<h2>An application to assist in the management of rental properties</h2>
<p>
     Created by Michael Melly
</p>
<p>
@Html.ActionLink("Return to Home Page ","Index","Home")
</p>

